.Rproj.user
.Rhistory
.RData
.Ruserdata
20170520_R_Ladies_Lx_Meetup_06_Exercises/Women_in_Parliament/.Rhistory
20170520_R_Ladies_Lx_Meetup_06_Exercises/Women_in_Parliament/.RData
20170520_R_Ladies_Lx_Meetup_06_Exercises/Women_in_Parliament/.Ruserdata
20170520_R_Ladies_Lx_Meetup_06_Exercises/World_Population/.Rhistory
20170520_R_Ladies_Lx_Meetup_06_Exercises/World_Population/.RData
20170520_R_Ladies_Lx_Meetup_06_Exercises/World_Population/.Ruserdata

